# Qt-es

#decided to include Qt
#*.pro
*.h.autosave
*.cpp.autosave
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*build*

*.exe
*exe.core


#Sublime-Projects
*.sublime-workspace
*.sublime-project
